
# 依賴庫
node_modules/
.pnp
.pnp.js

# 編譯產物
dist/
dist-ssr/
*.local

# 環境變量（敏感資料）
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 系統文件
.DS_Store
Thumbs.db

# 編輯器設定
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
